<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body style="margin:0 ; padding: 0;">
    <h1 style="text-align: center ;color: aliceblue;background-color: black; color: whitesmoke; font-family: Verdana, Geneva, Tahoma, sans-serif;">CATS</h1>
    {% for i in posts %}
    <div style="border: 1px solid rgb(241, 255, 47);" id="title">
        <p>{{i.title}}</p>
        <p>{{i.description}}</p>
</div>
    {% endfor%}
</div>
<style>

    body{
        background-color: black;
        color:whitesmoke;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        
        
    }
    #title{
        padding: 1%;
        margin: 2%;
        

    }
   
  
</style>
</body>
</html>